
/*=========activities=========*/
* {}.WID_19_3_90e52f85d8e61f2ca6a5566f938c4da1100eea70#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
