
/*=========activities=========*/
* {}.WID_11_3_1e39fe45531f2d3419abefe13dcaf2f98fbb7003#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
