
/*=========activities=========*/
* {}.WID_7_3_ac775417c48f78cc5411134352a029f203aec740#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
