body{
font-family: arial, sans-serif;
margin: 0em;
padding: 0em;
overflow-x: hidden;
overflow-y: auto;
}
    
h1 { font-size: 2em; }
p, label, input { 
font-size: 1em; 
line-height: 120%;
}
.login-header{
width: 100%;
height: 100%;
margin: 0em auto;
}
.login-main-x{
width: 100%;
height: 100%;
}
.login-box-x {
width: 20.0em;
padding: 1.2em;
background-color: #1581e2;
opacity: 0.9;
border: 0.01em solid #fff;
margin: 0em auto;
-webkit-box-shadow: 0 0 1.0em 0.3em #cccccc;
-moz-box-shadow: 0 0 1.0em 0.3em rgb(204, 204, 204);
box-shadow: 0 0 1.0em 0.3em #cccccc;
}
    
.login-box-x .box-section {
margin-bottom: 1.0em;
}
    
.login-box-x label {
display: inline-block;
max-width: 100%;
margin-bottom: 0.5em;
font-weight: bold;
color:#ffffff;
}
    
.login-box-x .box-input{
display: block;
width: 100%;
height: auto;
padding: 0.5em 0.8em;
color: #555;
background-color: #fff;
background-image: none;
border: 0.02em solid #ccc;
border-radius: 0.2em;
}
.login-box-x .box-input:focus{
color: #000;
background-color: #FBFFC4;
border: 2px	solid #f00; 
outline: none;
}
#login_google:focus{
color: #000;
background-color: #FBFFC4;
border: 1px	solid #f00; 
outline: none;
}
.BMH2vc {
display: inline-block;
padding: 0.5em 0.8em;
margin-bottom: 0;
white-space: nowrap;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
background-image: none;
border: 0.02em solid transparent;
border-radius: 0.2em;
color: #fff;
background-color: #d9534f;
border-color: #d43f3a;
font-weight:bold;
}
.BMH2vc:focus{
color:#fff;
background-color: #f00;
border: 2px	solid #fff; 
outline: none;
}
#login_google{
margin-top:5px;
background-color: transparent;
background-image: url(../../static/image/btn_google_signin_dark_normal_web.html);
width:192px;
height:47px;
border: 0px;
cursor: pointer;
}
#login_oauth_hint{
color:#fff;
padding:5px; 
float:left;
font-size:1em;
}
#google_label{
color:#fff;
padding:5px; 
float:left;
font-size:1em;
}
.login-box-x .alert {
padding: 1.0em;
margin-bottom: 1.2em;
border: 0.02em solid #bce8f1;
border-radius: 0.2em;
font-size:1.0em;
}
    
.login-box-x .alert-info {
color: #ffffff;
background-color: #7abefc;
}
    
.login-box-x .alert-info ul {
padding-left:1.0em;
}
    
.login-box-x .alert-error {
color: #ffffff;
background-color: #f70a36;
}
    
.logo-x{
background-image: url(../img/logo.html);
background-repeat: no-repeat;
width: 320px;
height: 70px;
margin: 0 auto;
padding: 0;
}

.IMs1vc{
position:relative;
}
.IMs2vc{
margin-top: 5px;
margin-bottom: 5px;
border-top: 1px solid #ddd;
float: left;
width: 100%; 
}
.IMH1vc{
font-size:0.9em;
font-weight:bold;
color:#ffffff;
cursor:pointer;
padding:0 5px;
float:right;
line-height: 45px;
}
.IMH1vc:focus{
color:#000;
background-color: #FBFFC4;
border: 2px	solid #f00; 
outline: none;
}
.boxH1fc{
padding:0;
margin:10px 0;
font-size:1.1em;
color:#ddd;
}