
/*=========activities=========*/
* {}.WID_22_3_d74eb64c76d4dd296b2c4196f18b038fa50f02f0#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
