
/*=========activities=========*/
* {}.WID_24_3_db7b664f2db5cfbd96a92d5f0dd3582ac059612a#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
