
/*=========activities=========*/
* {}.WID_34_3_799e36fe102b46e030467a6cb37454eb705b6a33#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
