
/*=========activities=========*/
* {}.WID_5_3_1bfbcf33963df50c392876998fa23cea0277c427#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
