.navDiv {
    clear: both;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}
.navDiv span.disable {
    border: 1px solid #eee;
    color: #999;
    background-color: #FFFFFF;
}
.navDiv span.select {
    color: #FFFFFF;
    background-color: #7B7B7B;
    border: 1px solid #7B7B7B;
}
.navDiv span {
    padding: 3px 5px;
    margin: 1px;
}
.navDiv a {
    text-decoration: none;
    cursor: pointer;
    color: #265827;
    padding: 3px 5px;
    margin: 1px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(166,166,166,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(166,166,166,1);
    box-shadow: 1px 1px 5px 0px rgba(166,166,166,1);
}
.navDiv a:hover{
	background-color: #FCDF7C;
	border: 1px solid #FCDF7C;
}