@charset "utf-8";
/*
body, div, dl, dt, dd, th, td, ul, ol, li,
h1, h2, h3, h4, h5, h6, p, form {
    margin: 0;
    padding: 0;
}
html {
    overflow-y: scroll;
}

body {
    font: Arial, Helvetica, sans-serif, 細明體, 新細明體;
    color: #333;
}
*/

.content-main .titlebrA{
    font-size: 1.2em;
}

.content-main h1, .content-main h2 {
    font-size: 100%;
    font-style: normal;
}

.content-main li {
    list-style: none;
    vertical-align: bottom;
    font-size: 1.0em;
    line-height: 23px;
    color: #666;
    margin-bottom: 5px;
}

.content-main li img {
	vertical-align: top;
}

.content-main img, .content-main table {
    border: 0;
}

.content-main strong {
    position: absolute;
}

.content-main .text-con strong {
    position: relative;
}

.content-main a {
    text-decoration: none;
}

.content-main .text-con > p {
    margin-bottom: 15px;
}

.content-main .text-con .text-title {
    margin-bottom: 36px;
    margin-top: 10px;
    border-bottom: 1px solid #ff6b05;
    border-bottom-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-bottom-left-radius: 10px;
}

.content-main .li-style li {
    list-style: disc;
    margin-left: 20px;
}

.content-main .li-style-link li a {
    color: #666;
}

.content-main .li-style-link li a:hover {
    text-decoration: underline;
}

.content-main .li-style-link {
    margin-left: 20px;
}

.content-main .li-style-link li ol {
    margin-left: 26px;
}

.content-main hr.dotted {
    margin: 30px 0px;
    border-bottom: 0px;
    border-style: dotted;
}

.content-main .li-title {
    font-weight: bold;
}