
/*=========activities=========*/
* {}.WID_2_3_a62b8e15e0b802cb2af22674e9d843b661e1bd45#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
