
/*=========activities=========*/
* {}.WID_25_3_a1e54a17aa36ca47a41038ecf514e318c1ca6285#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
