td.disablebtn {
color: #B1B1B1;
text-decoration: none;
background:url(../img/tdbutton.html) left no-repeat;
width:60px;
height:16px;
font-size: 75%;
text-align:center;
}
td.disablebtn a {
text-decoration: none;
color: #BAB8B8;
cursor:default;
}

#search #sa{
	width: 60px;
	font-size: 0.75em;
	text-align: center;
	text-decoration: none;
	color: #000000;
	background: url(../img/search.html) center no-repeat;
	border: 0px none;
	cursor: pointer;
	font-style: normal;
    vertical-align: middle;
    border: 1px solid #ccc;
}
/*
.btn #last{
	background: url(../img/search.png) center no-repeat;
}
*/