
/*=========activities2=========*/
* {}.WID_0_20_cd5b990ed23629f17be17e5d90035ec683d2946f#activities2{display: block;background-color: transparent;width: 100%;height: 250px;float: left;}@media screen and (max-width: 767px){.WID_0_20_cd5b990ed23629f17be17e5d90035ec683d2946f#activities2{height: 420px;}}
/*=============================*/
