
/*=========activities=========*/
* {}.WID_12_3_345a6f5de688fb1456e26ef472778bf9a684fc6a#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
