
/*=========activities=========*/
* {}.WID_9_3_8a5acae9f33af9c2589d4fccd598b6cda93704a3#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
