
/*=========activities=========*/
* {}.WID_17_3_6f87b3f837bf5a5ffe0b81f460b38b71ac1384d1#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
