
/*=========activities=========*/
* {}.WID_27_3_5c859c7abf01af170b2c343637a7ee7bc8c4a8ae#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
