
/*=========activities=========*/
* {}.WID_4_3_994f325e6601fd3451c891b04c469e2884dfb64f#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
