
/*=========activities=========*/
* {}.WID_33_3_9b2850395f78d44ceb2b40ff77b7f8e3f8068f01#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
