
/*=========activities=========*/
* {}.WID_20_3_f2a449a7b33af778534df698142b0d5b4115723f#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
