
/*=========activities=========*/
* {}.WID_26_3_cc811c0920ed1bcbb45c678d19d1388de14ac154#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
