
/*=========activities=========*/
* {}.WID_23_3_f0c62110d673b05769045a647d7456788d44c88a#activities{display: block;background-color: transparent;width: 100%;height: 263px;float: left;}
/*=============================*/
