
/*=========activities=========*/
* {}.WID_16_3_ec50c6f2bb00c168577b9358cb5d4cd7d3b11047#activities{display: block;background-color: ;width: 100%;height: 263px;float: left;}
/*=============================*/
